/*mobile view*/

.form_group {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.results_group {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 5px;
}
/*desktop view*/
@media screen and (min-width: 600px) {

  .display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .results_group {
    padding: 5px 5px 10px 5px;
  }

}
