/*mobile view*/
h3 {
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 0px;
  font-size: 28px;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #B0AFE3;
  border: 5px solid #B0AFE3;
  border-radius: 8px;
}

/*desktop view*/
@media screen and (min-width: 600px) {
  h3 {
    justify-content: flex-start;
    margin: 5px;
  }
}
