/*mobile view*/

* {
  box-sizing: border-box;
}

header {
  background-color: #B0AFE3;
  border: 5px solid #B0AFE3;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
}

h1 {
  margin: 0px;
  padding: 5px;
  color: black;
}

.main_content {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  font-size: 22px; /* Increased text to enable scrolling */
  border: 5px solid #FAA341;
  border-radius: 8px;
}

/*desktop view*/
@media screen and (min-width: 600px) {

  header {
    margin: 10px 10px 0px 130px;
    background-color: #B0AFE3;
    border: 5px solid #B0AFE3;
    border-radius: 8px;
    text-align: right;
  }

  .main_content {
    margin: 10px 10px 10px 130px; /* Same as the width of the sidenav */
    font-size: 22px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    border: 5px solid #FAA341;
    border-radius: 8px;
  }
}
