/* mobile view */
  .Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    background-color: white;
    border: 5px solid #FAA341;
    border-radius: 8px;
    font-size: 18px;
  }

  .nav-contacts {
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
  }
/* desktop view */
@media screen and (min-width: 600px) {
  .Nav {
    display: block;
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FAA341;
    border: 5px solid #FAA341;
    border-radius: 8px;
    overflow-x: hidden;
    padding: 50px 5px 0px 5px;
    margin: 0px;
    text-align: center;
  }

  a {
    padding: 0px;
    margin-right: 20px
  }

  .nav-contacts {
    padding: 5px;
    margin-bottom: 40px;
    text-align: center;
  }

  path {
    margin-bottom: 10px;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
  }

}
